/*reseta pagina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos: pais*/
body {
    /*fonte estilizacao*/
    font-family: "Benne", serif;
    font-style: normal;
    font-size: 20px;
    /*cor de fundo*/
    background-color: #383839;
    color: #f6f5ee;
}

img{
    border-radius: 50%;
}

/* elementos > elementos */
body > header
,body > footer{
    /*cor de fundo do cabecalho*/
    background-color: #505050d7;
    color: #cbcbc9;
}

/*misto - classes + elementos de classe: pais*/
.reddit-mono
,.cls_secoes_raiz h3 {
  font-family: "Reddit Mono", monospace;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  /*opacidade*/
  opacity: 0.7;
  /*margens*/
  margin: 20px auto;
}

/*classes: raiz*/
.container{
    /*tamanho da caixa padrao*/
    max-width: 1024px;
    width: 100%;
    /*margens padrao*/
    margin: 0 auto;
}

.cls_div_cabecalho
,.cls_div_rodape {
    /*display p/ exibicao dos itens a frente um do outro*/
    display: flex;
    /*propriedade p/ nao deixar criar rolamento p/ direita*/
    flex-wrap: wrap;
    /* align-items: center; */
    /*adiciona espacamento entre eles*/
    justify-content: space-between;
    /*fonte do cabecalho*/
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
     /*configurando a caixa do cabecalho inteiro*/
     padding: 5px 5px;
     border: 5px 5px;
     /*aplicando bordas arredondas*/
     border-radius: 5px;
     /*opacidade*/
     opacity: 0.8;
     /* exemplos p/ aplicar desfoque:
         1 - box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
             ( com duas propriedades )
         2-  backdrop-filter: blur(8px);
             background-color: rgba(255, 255, 255, 0.5);*/
}

.cls_div_rodape {
    font-family: "Anton", sans-serif;
    font-size: 20px;
}

.cls_secoes_raiz {
    display: block;
    align-items: center;
    justify-content: space-between;
}

.cls_artigos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*imagem + artigo ocuparam 100 % da tela*/
    width: 100%;
}

.cls_div_artigos {
    /*tamanho que os artigos ocuparam na tela: titulo, conteudo e o link*/
    width: 50%;
    /*margens*/
    padding: 10px 10px;
    margin: 10px 10px;
    /*fonte*/
    font-size: 18px;
}

.cls_sec_formularios {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cls_entradas {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cls_links_sociais {
    position: relative;
    top: 0;
    right: 20%
}

/*== fontes*/
.benne-regular {
    font-family: "Benne", serif;
    font-weight: 400;
    font-style: normal;
}
  
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*elementos de classes: pais*/
.cls_div_cabecalho h1 {
    margin-left: 10px;
    margin-top: 8px;
    /*fontes*/
    font-size: 24px;
    color: #ffe14df4;
}

.cls_div_rodape p {
    margin-left: 10px;
     /*fontes*/
    color: #bcbcbcf4;
}

.cls_div_cabecalho li {
    /*display na mesma linha porem block
        se exceder o numero de itens, pula p/ linha abaixo*/
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}

.cls_div_cabecalho ul {
    /*margin dos links a direita*/
    margin-right: 10px;
    /*define display formato de grid, com 3 colunas*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.cls_artigos img {
    width: 50%;
    height: 400px;
}

.cls_div_artigos a {
    color: #5b5effe4;
}

.cls_entradas input {
    margin: 10px 10px;
    width: 70%;
    height: 30px;
}

.cls_botoes button {
    margin: 8px 8px;
    height: 30px;
    width: 40%;
    /*bordas arrendondas*/
    border-radius: 20px;
    /*cores*/
    background-color: #1f1f7f9b;
    color: #cbcbc9;
}

.cls_sec_formularios form {
     /*configuracao p/ o tamanho das entradas, ocuparam apenas 30% do tamanho total da tela*/
     width: 30%;
}

.cls_links_sociais img {
    height: 24px;
}

.cls_links_sociais li {
    display: inline;
    margin-right: 8px;
}

/*estados*/
.cls_div_artigos a:hover {
    color: #f2eb87ec;
}

.cls_botoes button:hover {
    background-color: #18189dcf;
}

.cls_entradas input:focus {
    outline-color: #18189dcf;
}

/*elementos de classes: nivel 1*/
.cls_div_cabecalho li a {
    color: #bcbcbcec;
    /*linha abaixo como link*/
    text-decoration: none;
    /*fonte*/
    font-weight: bold;
    font-size: 16px;
    /*margem*/
    margin-right: 10px;
}

.cls_links_sociais li a {
    text-decoration: none;
}

/*>estados*/
.cls_div_cabecalho li a:hover {
    color: #f2eb87ec;
    /*linha abaixo como link*/
    text-decoration: underline;
}

/* responsividades */
@media (max-width: 723px) or ((min-width: 724px) and (max-width:1023px)){
    /* elementos */
    section{
        margin: 16px;
    }

    /* classes */
    .cls_artigos {
        flex-direction: column;
    }

    .cls_secoes_raiz {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .cls_div_artigos{
        width: 90%;
    }

    .cls_artigos img {
        width: 90%;
    }

    .cls_sec_formularios{
        width: 100%;
    }

    .cls_sec_formularios form {
        /*configuracao p/ o tamanho das entradas, ocuparam apenas 30% do tamanho total da tela*/
        width: 50%;
   }

   @media (max-width: 723px){
        .cls_sec_formularios form
        ,.cls_links_sociais {
            /*configuracao p/ o tamanho das entradas, ocuparam apenas 30% do tamanho total da tela*/
            width: 100%;
            text-align: center;
        }
   }
}