/*reseta pagina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos: pais*/
body, header, footer {
    font-family: "Benne", serif;
    font-style: normal;
    font-size: 20px;
}

body {
    background-color: #383839;
    color: #f6f5ee;
}

section {
    margin: 20px;
}

/*elementos: filhos diretos -> pais*/
body > header, body > footer {
    padding: 10px;
    opacity: 0.7;
    /*cores*/
    background-color: #232324d3;
    color: #fffb03;
    /*configuracoes da fonte*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-style: normal;
}

body > footer {
    font-family: "Anton", cursive;
    font-size: 16px;
    font-style: normal;
    color: #f6f5ee;
}

body > main {
    padding: 20px;
}

/*elementos: filhos diretos -> nivel 1*/
body > header h1, body > footer p {
    margin-left: 22px;
}

/*elementos: nivel 2*/
header nav li {
    display: inline;
    /*configuracoes*/
    margin-right: 10px;
}

/*elementos: nivel 3*/
header nav li a {
    color: #d6dbdde7;
    /*exibicao*/
    text-decoration: dotted;
    /*fonte*/
    font-size: 18px;
}

/*classes: raiz*/
.clsRaiz {
    width: 1366px;
    width: 100%;
    margin: 0 auto;
}

.clsArtigos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clsFormulario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*== fontes*/
.benne-regular {
    font-family: "Benne", serif;
    font-weight: 400;
    font-style: normal;
}
  
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*elementos de classes: pais*/
.clsArtigos article {
    width: 50%;
    /*aparencia*/
    margin-bottom: 16px;
}

.clsArtigos img {
    width: 500;
    /*aparencia*/
    height: 400px;
}

.clsArtigos p {
    font-size: 18px;
}

.clsFormulario label {
    display: inline-block;
    /*aparencia*/
    width: 30px;
}

#sctContato {
    background-color: #2c2c2c22;
}

/*elementos de classes: nivel 2*/
.clsFormulario form div label {
    margin-right: 50px;
}

.clsFormulario form div input {
    font-size: 16px;
    width: 670px;
}

.clsFormulario form div button {
    /*configuracoes aparencia*/
    background-color: #c0c0c4d3;
    color: #f2fbff;
    border: none;
    cursor: pointer;
    /*fonte*/
    font-size: 16px;
    /*margens*/
    margin-left: 5px;
    width: 370px;
    height: 30px;
}

/*>estados*/
.clsFormulario form div input:focus {
    outline-color: #c0c0c4cc;
}

.clsFormulario form div button:hover {
    background-color: #c0c0c495;
}

/*elementos classes: filhos direto - pais*/
.clsArtigos > div {
    display: inline-block;
    align-content: center;
    /*margens*/
    margin-left: 20px;
    margin-right: 20px
}

/*elementos classes: filhos direto - nivel 1*/
.clsArtigos > div a {
    color: #fffb03d6;
}

/*classes de elementos: pais*/
header .clsRaiz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}