/*reseta pagina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos: pais*/
body, footer {
    font-family: "Benne", serif;
    font-style: normal;
    font-size: 20px;
}

body {
    background-color: #383839;
    color: #f6f5ee;
}

section {
    margin: 20px;
}

body > main {
    padding: 20px;
}

/*elementos: filhos diretos -> nivel 1*/
body > footer p {
    margin-left: 24px;
}

/*classes: raiz*/
.Cls_div_raiz {
    /*tamanho da caixa padrao*/
    width: 1366px;
    width: 100%;
    /*margens padrao*/
    margin: 0 auto;
}

.cls_div_cabecalho
,.cls_div_rodape {
    /*display p/ exibicao dos itens a frente um do outro*/
    display: flex;
    /*propriedade p/ nao deixar criar rolamento p/ direita*/
    flex-wrap: wrap;
    align-items: center;
    /*adiciona espacamento entre eles*/
    justify-content: space-between;
    /*cor de fundo do cabecalho*/
    background-color: #545454b0;
    color: #bcbcbcd8;
    /*tamanho*/
    height: 80px;
}

.cls_div_rodape {
    height: 50px;
}

.clsArtigos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clsFormulario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*== fontes*/
.benne-regular {
    font-family: "Benne", serif;
    font-weight: 400;
    font-style: normal;
}
  
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*elementos de classes: pais*/
.cls_div_cabecalho h1 {
    margin-left: 10px;
    /*fontes*/
    font-size: 44px;
    color: #bcbcbcf4;
    /*posicao*/
    position: relative;
    top: 0;
    left: 40%
    /*estilos
    border: 1px dashed #bcbcbcd8;*/
}

.cls_div_rodape p {
    margin-left: 10px;
     /*fontes*/
    font-size: 18px;
    color: #bcbcbcf4;
    /*posicao*/
    position: relative;
    top: 0;
    left: 40%
}

.clsArtigos article {
    width: 50%;
    /*aparencia*/
    margin-bottom: 16px;
}

.clsArtigos img {
    width: 500;
    /*aparencia*/
    height: 400px;
}

.clsArtigos p {
    font-size: 18px;
}

.clsFormulario label {
    display: inline-block;
    /*aparencia*/
    width: 30px;
}

#sctContato {
    background-color: #2c2c2c22;
}

/*elementos de classes: nivel 1*/
.cls_div_cabecalho li {
    /*display na mesma linha porem block
        se exceder o numero de itens, pula p/ linha abaixo*/
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}

/*elementos de classes: nivel 2*/
.cls_div_cabecalho li a {
    color: #bcbcbcec;
    /*linha abaixo como link*/
    text-decoration: none;
    /*tamanho fonte*/
    font-size: 18px;
    /*margem*/
    margin-right: 10px;
}

.clsFormulario form div label {
    margin-right: 50px;
}

.clsFormulario form div input {
    font-size: 16px;
    width: 670px;
}

.clsFormulario form div button {
    /*configuracoes aparencia*/
    background-color: #c0c0c4d3;
    color: #f2fbff;
    border: none;
    cursor: pointer;
    /*fonte*/
    font-size: 16px;
    /*margens*/
    margin-left: 5px;
    width: 370px;
    height: 30px;
}

/*>estados*/
.clsFormulario form div input:focus {
    outline-color: #c0c0c4cc;
}

.clsFormulario form div button:hover {
    background-color: #c0c0c495;
}

/*elementos classes: filhos direto - pais*/
.clsArtigos > div {
    display: inline-block;
    align-content: center;
    /*margens*/
    margin-left: 20px;
    margin-right: 20px
}

/*elementos classes: filhos direto - nivel 1*/
.clsArtigos > div a {
    color: #fffb03d6;
}

/*classes de elementos: pais*/
header .cls_div_cabecalho
,footer .cls_div_rodape {
    /*configurando a caixa do cabecalho inteiro*/
    padding: 10px;
    margin: 1px 1px;
    /*aplicando bordas arredondas*/
    border-radius: 5px;
    /*fonte do cabecalho*/
    font-family: "Benne", serif;
    font-weight: 400;
    font-style: normal;
    /*opacidade*/
    opacity: 0.8;
    /* exemplos p/ aplicar desfoque:
        1 - box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            ( com duas propriedades )
        2-  backdrop-filter: blur(8px);
            background-color: rgba(255, 255, 255, 0.5);*/
    
}

footer .cls_div_rodape {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
